{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" dir="rtl">
                <legend class="border-button mb-4" dir="rtl">بازیابی رمز عبور.</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" dir="rtl">بازیابی</button>
            </div>
    </div>
{% endblock %}