{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data" dir="rtl">
            {% csrf_token %}
            <fieldset class="form-group" dir="rtl">
                <legend class="border-button mb-4" dir="rtl">اطلاعات پروفایل .</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" dir="rtl">بروز رسانی.</button>
            </div>
        </form>
    </div>
{% endblock %}